<div class="professional-form form-container " [formGroup]="form">
  <!-- SECTION: EXPERIENCE -->
  <div class="section">
    <div class="field">
      <label>What is the industry you can give coaching in? *</label>
         <p-multiselect
          [options]="coachingIndustriesOptions$ | async" 
         formControlName="coachingIndustries" 
         placeholder="Select industry" optionLabel="label"
         optionValue="value"
          [maxSelectedLabels]="5"
          display="chip" class="w-full" />

      <small class="p-error" *ngIf="isInvalid('coachingIndustries')">
        {{ getError('coachingIndustries') }}
      </small>
    </div>

    <!-- Years of Experience -->
    <div class="field">
      <label>Years of Experience *</label>

      <input
        pInputText
        type="number"
        formControlName="yearsOfExperience"
        placeholder="Enter years of experience"
      />

      <small class="p-error" *ngIf="isInvalid('yearsOfExperience')">
        {{ getError('yearsOfExperience') }}
      </small>
    </div>

        <div class="field">
      <label>what's your languages? *</label>

     <p-multiselect
          [options]="languagesOptions$ | async" 
         formControlName="languages" 
         placeholder="Select languages" optionLabel="label"
         optionValue="value"
         [maxSelectedLabels]="5"
          display="chip" class="w-full" />

      <small class="p-error" *ngIf="isInvalid('languages')">
        {{ getError('languages') }}
      </small>
    </div>
    
      <div class="field">
      <label> Are you available/free for at least 2:3 hours every week? *</label>

     <p-select
          [options]="[{ label: 'Yes', value: true }, { label: 'No', value: false }]"
         formControlName="availableEveryWeek" 
         placeholder="Select availability" optionLabel="label"
         optionValue="value"
         class="w-full" />

      <small class="p-error" *ngIf="isInvalid('availableEveryWeek')">
        {{ getError('availableEveryWeek') }}
      </small>
    </div>
   

    <!-- Job Title -->
    <div class="field">
      <label>Job Title *</label>
      <input
        pInputText
        formControlName="jobTitle"
        placeholder="Enter job title"
      />

      <small class="p-error" *ngIf="isInvalid('jobTitle')">
        {{ getError('jobTitle') }}
      </small>
    </div>


  </div>



</div>