


// ─── Table ────────────────────────────────────────────────


// ─── Column widths ────────────────────────────────────────
.col-check    { width: 30px;   padding-left: 20px !important; }
.col-name     { min-width: 160px; }
.col-type     { min-width: 100px; }
.col-price    { min-width: 60px; }
.col-bookings { min-width: 1-0px; }
.col-actions  { width: 220px; text-align: right; }



// /* PrimeNG overrides */
// :host ::ng-deep .p-dropdown,
// :host ::ng-deep .p-datepicker {
//   width: 100%;
// }