<div [formGroup]="form" class="form-container">

  <!-- Full Name EN -->
  <div class="field">
    <label>Full name in English *</label>
    <input pInputText formControlName="fullNameEn" placeholder="Enter your full name" />
    <small class="p-error" *ngIf="isInvalid('fullNameEn')">
      Full name is required
    </small>
  </div>

  <!-- Full Name AR -->
  <div class="field">
    <label>Full name in Arabic *</label>
    <input pInputText formControlName="fullNameAr" placeholder="Enter your full name" />
    <small class="p-error" *ngIf="isInvalid('fullNameAr')">
      Full name is required
    </small>
  </div>

  <!-- Gender -->
  <div class="field">
    <label>Gender *</label>
    <p-select
      [options]="genders"
      formControlName="gender"
      optionLabel="label"
      optionValue="value"
      placeholder="Select Gender"
      class="w-full">
    </p-select>

    <small class="p-error" *ngIf="isInvalid('gender')">
      Gender is required
    </small>
  </div>

  <!-- Birth Date -->
  <div class="field">
    <label>Birth Date *</label>
    <p-datePicker
      formControlName="birthDate"
      placeholder="Select Birth Date"
      class="w-full"
      [showIcon]="true"
      iconDisplay="input"
      [showOnFocus]="false"
      [readonlyInput]="true"
      appendTo="body">
    </p-datePicker>

    <small class="p-error" *ngIf="isInvalid('birthDate')">
      Birth date is required
    </small>
  </div>

   <div class="field">
    <label>What's  Your Nationality?</label>
    <p-select
      [options]="countries"
      formControlName="nationalityId"
      optionLabel="label"
      optionValue="value"
      [filter]="true"
      filterBy="label"
      [showClear]="true"
      placeholder="Select Your Nationality"
      class="w-full">
    </p-select>

    <small class="p-error" *ngIf="isInvalid('nationalityId')">
      Nationality is required
    </small>
  </div>

  
  <!-- Country -->
  <div class="field">
    <label>Where are you located?</label>

    <p-select
      [options]="countries"
      formControlName="countryId"
      optionLabel="label"
      optionValue="value"
      [filter]="true"
      filterBy="label"
      [showClear]="true"
      placeholder="Select Location"
      class="w-full"
      (onChange)="onCountryChange($event)">
    </p-select>

    <small class="p-error" *ngIf="isInvalid('countryId')">
      Location is required
    </small>
  </div>
  <!-- WhatsApp -->
     <div class="field">

  <app-whatsapp-input
    formControlName="whatsAppNumber"
    [selectedCountry]="selectedCountry"
    [countries]="countries">
  </app-whatsapp-input>
  <small class="p-error" *ngIf="isInvalid('whatsAppNumber')">
    WhatsApp number is required and must be valid
  </small>
</div>
  <!-- Email -->
  <div class="field">
    <label>Email Address</label>
    <input pInputText type="email" formControlName="email" placeholder="Enter your email" />

    <small class="p-error" *ngIf="hasError('email', 'required')">
      Email is required
    </small>

    <small class="p-error" *ngIf="hasError('email', 'email')">
      Invalid email format
    </small>
  </div>

    <!-- ─── PRICING ─────────────────────── -->
<div class="section">
  <!-- PRICING -->
<div class="price-grid">

  <!-- 30 min -->
  <div class="price-field ">
    <label>30 min *</label>

    <input
      pInputText
      type="number"
      formControlName="halfHourPrice"
      placeholder="Enter price"
      class="w-full"
    />

    <small class="p-error" *ngIf="isInvalid('halfHourPrice')">
      Price is required and must be greater than 0
    </small>
  </div>

  <!-- 1 hour -->
  <div class="price-field">
    <label>1 hour *</label>

    <input
      pInputText
      type="number"
      formControlName="hourlyPrice"
      placeholder="Enter price"
      class="w-full"
    />

    <small class="p-error" *ngIf="isInvalid('hourlyPrice')">
      Price is required and must be greater than 0
    </small>
  </div>

  <!-- 1.5 hour -->
  <div class="price-field">
    <label>1.5 hour *</label>

    <input
      pInputText
      type="number"
      formControlName="oneAndHalfHourPrice"
      placeholder="Enter price"
      class="w-full"
    />

    <small class="p-error" *ngIf="isInvalid('oneAndHalfHourPrice')">
      Price is required and must be greater than 0
    </small>
  </div>

  <!-- 2 hours -->
  <div class="price-field">
    <label>2 hours *</label>

    <input
      pInputText
      type="number"
      formControlName="twoHoursPrice"
      placeholder="Enter price"
      class="w-full"
    />

    <small class="p-error" *ngIf="isInvalid('twoHoursPrice')">
      Price is required and must be greater than 0
    </small>
  </div>

</div>

</div>

</div>