.booking-page {

	.tabs {
		display: flex;
		gap: 12px;
		margin-bottom: 18px;

		.tab {
			padding: 10px 22px;
			border-radius: 24px;
			background: var(--p-card-background, #fff);
			border: 1px solid var(--app-border-color);
			cursor: pointer;
		}

		.tab.active {
			background: var(--p-chip-background);
			border-color: var(--app-primary-color);
			color: var(--app-primary-color);
		}
	}


}